
body
    background #ebedf1
    font-family 'Lucida Grande', 'Heveltica Nueue', 'Helvetica', 'sans-serif'
    padding-bottom 10em

demo
    padding 3em
    display block

pre
    background rgba(0,0,0,0.05)
    border 1px solid rgba(0,0,0,0.1)

section
    & + section
        margin-top 2em
        border-top 1px dashed rgba(0,0,0,.1)
        padding-top 2em


.dark.well
    background #1a1a1a
    color #ccc
    padding 3em
    margin 1em


.light
    border 1px solid fade-out(#000, 0.8)
    padding 3em
    margin 1em
    background #fff


button.styled
    display inline-block
    cursor pointer
    padding 0.6em 2.4em
    outline none

    border-radius 6px
    background linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9)
    border 1px solid #dcdcdc
    box-shadow inset 0px 1px 0px 0px #ffffff

    font-family sans-serif
    font-weight bold

    text-decoration none
    text-shadow 0px 1px 0px #ffffff

    &:hover
        background linear-gradient(to bottom, #fff, #f0f0f0)

    &:active
        background linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9)
        position relative
        top 1px


.styled.dropdown
    padding 1em
    background #fff
    box-shadow  0 3px 9px fade-out(#000, 0.8)
    border-radius 3px

.dark.dropdown, button.dark
    padding 1em
    background #000
    color #eee
    border 1px solid #333
    box-shadow  0 3px 9px fade-out(#000, 0.8)
    border-radius 3px

.dark.dropdown
    transition transform 0.3s ease, opacity 0.3s ease
    transform translate(0, 1em)
    opacity 0

    li:not(:only-child):not(:first-child)
        transition margin-top 0.3s ease
        margin-top 1em

    &.open
        opacity 1
        transform translate(0, 0)
        li
            margin-top 0 !important

button.dark
    text-shadow none
    &:hover, &:active
        background #2a2a2a
        color #fff

